@import "../../style.scss";
.messages {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: themed("bgSoft");
    border-left: 1px solid themed("border");

    .messageDisplay {
      position: relative;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      margin-bottom: 60px;

      .display {
        width: 92%;
        padding: 0 4%;
        padding-top: 15px;
        position: absolute;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .messageText {
      position: absolute;
      bottom: 0;
    }
  }
}
