@import "../../style.scss";

.storiesContainer {
  width: calc(100vw - 40px);
  overflow-x: scroll;
  // background-color: green;
  height: auto;

  &::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  @include themify($themes) {
    .stories {
      width: auto;
      height: 250px;
      margin-bottom: 30px;
      // background-color: red;
      display: flex;
      flex-direction: row;
      position: relative;

      @include mobile1 {
        height: 73px;
        margin-bottom: 17px;
      }

      .story1{
        img {
          @include mobile1 {
            filter: brightness(0.7)
          }
        }
      }

      .story {
        border: 1px solid themed("textColor");
        border-radius: 10px;
        overflow: hidden;
        // position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 10px;
        z-index: 14;

        @include mobile1 {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          margin-right: 18px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          position: absolute;
          bottom: 10px;
          left: 10px;
          color: white;
          font-weight: 500;
          @include mobile1 {
            display: none;
          }
        }

        button {
          position: absolute;
          top: 10px;
          right: 10px;
          color: white;
          background-color: #5271ff;
          border: none;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          cursor: pointer;
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid white;
          z-index: 15;

          @include mobile1 {
          left: 44px;
          top: 41px;
          }
        }
      }

      .story:hover{
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}